@model IEnumerable<App.Models.Continente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.continenteID">Editar</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.continenteID">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.continenteID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
