@model IEnumerable<App.Models.Pais>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-danger" asp-action="Create">Criar novo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Populacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Populacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continente.Nome)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdPaises">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdPaises">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdPaises">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
